<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ind.liuer.mybatis.dao.UserMapper">

    <resultMap id="TBL_USER_MAP" type="ind.liuer.mybatis.domain.User">
        <id property="userId" column="user_id"/>
        <result property="username" column="username"/>
        <result property="password" column="password"/>
        <result property="age" column="age"/>
        <result property="sex" column="sex"/>
        <result property="email" column="email"/>
        <result property="delFlag" column="del_flag"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
    </resultMap>

    <!--根据主键查询用户信息 -->
    <select id="selectUserByPrimaryKey" resultMap="TBL_USER_MAP">
        SELECT user_id,
               username,
               password,
               age,
               sex,
               email,
               del_flag,
               create_time,
               update_time
        FROM tbl_user
        WHERE user_id = #{userId}
    </select>

</mapper>